.owl-carousel .item {
    /* border: 1px solid black; */
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    color: pruple;
    ;
}

.owl-next {
    float: right;
}

.owl-prev {
    float: left;
}

.owl-prev span {
    font-size: 24px;
    font-weight: bold;
}

.owl-next span {
    font-size: 24px;
    font-weight: bold;
}

body {
    /* background-color: rgb(168, 235, 216); */
    background-color: tan;
}